<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>提示:</strong>已经登录<%=current_user.sign_in_count%>次,上次登录时间:<%=current_user.last_sign_in_at.to_time%>,上次登录IP地址:<%=current_user.last_sign_in_ip%>.
</div>
<h3 class="text-info">
  每天都有好心情.
</div>
